html, body{
	height: 100%;
}

header{
	background-image: url('../img/bksc-header-1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	margin: 0; padding: 0;
}

@media only screen and (min-device-width: 120px) and (max-device-width: 736px) { 
  header{
    background-attachment: scroll;
  }
}


.container{
	text-align:center;
}


.logo{
  width: auto;
  height: auto;
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
  margin: 50% 0 0 0;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .logo{
      max-width:30%;
      max-height:30%;
      vertical-align: middle;
      margin: 0;
    }

}

.fluid{
	display:inline-block;
	width: auto;
	height: auto;
	max-width: 100%;
}

.breaker{
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;	
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  max-width: 100%;
	height: 500px;
	margin: 0; padding: 0;
}

@media only screen and (min-device-width: 120px) and (max-device-width: 736px) { 
  .breaker{
    background-attachment: scroll;
  }
}

a.arrow-down{
	display: block;
	position: absolute;
	width: 30px;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 20px;
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0% {
    bottom: 15px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 15px;
  }
}


hr.highlight{
    height: 14px;
    color: #2E3192;
    background: #2E3192;
    font-size: 0;
    border: 0;
	margin: 0 auto 0 auto;
	padding: 0;
}


.talk{
  display: inline-block;
  height: auto;
  padding: 10px 60px;
  text-align: center;
  font-size: 18pt;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 2px;
  border: 4px solid #2E3192;
  cursor: pointer;
  box-sizing: border-box;
  color: #2E3192;
  font-weight: 700;
}

.talk:hover,.talk:focus{
  color: #FFF;
  background-color: #2E3192;
  border-color: #2E3192;
}

.external-links{
  display: inline-block;
  height: auto;
  margin: 0 auto 15px auto;
  padding: 10px 30px;
  text-align: center;
  font-size: 11pt;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #2E3192;
  cursor: pointer;
  box-sizing: border-box;
  color: #2E3192;
  font-weight: 300;
  word-wrap:break-word;
}

.external-links:hover,.external-links:focus{
  color: #FFF;
  background-color: #2E3192;
  border-color: #2E3192;
}

.credits{
	font-size: 8pt;
	color: #999;
	text-align: center;
	width: 70%;
	display: block;
	margin: 20px auto 20px auto;
}


.slick-prev:before, .slick-next:before{
    color: #2E3192;
}


.tilde{
  font-size: 24pt;
  font-weight: 700;
}
